.display-prop{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    min-height: 800px;
}

.flx{
    display: flex;
    margin: 100px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid black; */
    height: 20%;
    width: 100%;
    /* width:10%; */
    /* border-radius: 15px; */

}

.flx-postlist{
    display: flex;
    flex-wrap: wrap;
}

.flx-btn{
   
    border: 3   px solid rgb(78, 119, 233);
    height: 20%;
    width:10%;
    border-radius: 15px;
    background-color: grey;
      color: white;
      font-weight: 600;
      font-size: larger;
}

.form-edit{
    width: 500px;

}

.ftr{
    position: fixed;
   left: 0;
   bottom: 0;
}

.form-edit-div{
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.post-card{
    margin: 20px;
}

.tag{
    margin: 5px;
    
}